<footer>

  <div class="container-letter">
      <img class="letter" src="assets/img/letra.png" alt="Letter B illustration icon">
      <p class="thankyou">Thank you!</p>
  </div>
  <div class="footer-container">
      <div class="footer1">
          <p>Let's work together:</p>
          <p>barbarafm.997@gmail.com</p>
      </div>
      <div class="footer1">
          <a href=https://www.linkedin.com/in/barbara-marcelino title="Linkedin">
              <img class="linkedin" src="assets/img/linkedin.png" alt="Linkedin">
          </a>
          <a href=https://www.behance.net/barbaramarcelino title="Behance">
              <img class="behance" src="assets/img/behance.png" alt="Behance">
          </a>
      </div>

  </div>

</footer>
