---

---

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

$myFont: "Poppins", "Arial", sans-serif;

body {
	font-family: $myFont;
}

h1 {
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 16px;
	color: #6C22F5;
}

h2 {
	font-weight: 600;
	font-size: 50px;
	line-height: 75px;
	letter-spacing: 0.03em;
	color: #33404D;
}

h3 {
	text-align: center;
	font-weight: 600;
	font-size: 48px;
	letter-spacing: 0.05em;
	padding-top: 150px;
    padding-bottom: 70px;
	margin: 0;
	text-transform: uppercase;
	color: #33404D;
}

h4 {
	font-weight: 600;
	font-size: 28px;
	line-height: 42px;
	letter-spacing: 0.05em;
	margin: 0;
	color: #33404D;
}

h5 {
	font-weight: 600;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 0;
	color: #6C22F5;
}

h6 {
	font-size: 16px;
	font-weight: 500;
	color: #6C22F5;
}

p {
	font-size: 16px;
	line-height: 30px;
	color: #33404D;
}

/*Menu*/
a:hover {
    color: #6C22F5;;
  }

a {
	color: #33404D;
    text-decoration: none;
    font-size: 16px;
}

li {
	list-style: none;
}

.iconmenu {
	display: none;
}

.menu {
	position: fixed;
	display: flex;
	width: 100%;
	height: auto;
	top: 0px;
	align-items: baseline;
    justify-content: space-between;
    background: white;
	z-index: 1;
}

.menu:first-child {
	padding-left: 20px;
}

nav li {
	display: inline-block;
	padding-right: 40px;
}

nav:last-child {
	padding-right: 0;
}

nav {
	margin-right: 20px;
}

/*Homepage - Header*/
header {
	width: 100%;
}

.container-intro {
	padding-top: 250px;
	position: relative;
}

.container-intro > h2 {
	width: 40%;
	margin-left: 130px;
}

.seta {
    padding-top: 45px;
	justify-content: center;
	display: flex;
}

.seta img {
	width: 30%;
	height: auto;
	display: flex;
	margin: 0 auto;     
}

.ilustracao {
	position: absolute;
	width: 35%;
	height: auto;
	right: 10%;
	top: 10%;
	z-index: -1;
}

/*Homepage - About*/
.mystory {
	width: 50%;
	display: flex;
    margin: 0 auto;
    padding-bottom: 150px; 
}

/*Página Projects*/
.container {
    display: grid;
	grid-template-columns: auto auto;
	column-gap: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	max-width: 1200px;
	margin: auto;
 }

.subtitle {
	font-weight: 500;
	font-size: 14px;
}

/*Formation*/
.container1 {
	display: flex;
	width: 80%;
	margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 110px;
}

.description1 {
	padding-right: 5%;
}

.description1:last-child {
	padding-right: 0;
}

.curso, .curso1 {
	margin: 0;
	font-weight: 500;
	color: #6C22F5;
}

/*Skills*/
.container2 {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 170px;
	align-items: baseline;
}

@keyframes fade {
    0% {opacity: 1}
    20% { opacity: 0}
    40% { opacity: 0}
    60% { opacity: 0}
    80% { opacity: 0}
    100% { opacity: 1}
}

.graphic-design {
	animation: fade 1s;
}

.editorial-design {
	animation: fade 1s;
	animation-delay: 1s;
}

.illustration {
	animation: fade 1s;
	animation-delay: 2s;
}

.ux-design {
	animation: fade 1s;
	animation-delay: 3s;
}

.visual-design {
	animation: fade 1s;
	animation-delay: 4s;
}

.icons {
    text-align: center;
	width: 60%;
}

.images1 {
	width: 50%;
}

.curso {
	font-weight: 600;
}

.texto1 {
	font-size: 14px;
	line-height: 24px;
	color: #AEAEAE;
}

/*Footer*/
.container-letter {
	background: #F2F2F2;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 1%;
}

.thankyou {
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #6C22F5;
}

.letter {
	width: 5%;
}

.footer-container {
	background: #F2F2F2;
	display: block;
	width: 100%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 60px;
	text-align: center;
}

.footer1 p {
	display: inline-block;
}

.footer1 p:first-child {
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.linkedin {
	width: 3%;
	padding-right: 15px;
}

.behance {
	width: 3%;
}

/*mediaquerries*/

@media (max-width: 1080px) {
	
	/*header*/
	.container-intro > h2 {
		width: 50%;
		margin-left: 100px;
	}
}

@media (max-width: 950px) {
	
	/*projects*/
	.container {
		display: block;
		padding-right: 30px;
	}

	.images {
		width: 100%;
	}

	.description {
		width: 80%;
	}
}

@media (max-width: 720px) {
	
	/*menu - como colocar navegaçao dentro de icon menu?*/
	.iconmenu {
		display: flex;
		width: 4%;
		margin-right: 50px;
		padding-top: 20px;
	}

	nav {
		display: none;
	}

	/*header*/
	.container-intro > h2 {
		width: 50%;
		margin-left: 80px;
	}

	h2 {
		font-size: 40px;
		line-height: 60px;
	}

	/*about*/
	.mystory {
		width: 70%;
		display: flex;
		margin: 0 auto; 
	}

	/*formation*/
	.container1 {
		display: block;
		margin-left: 40px;
	}

	.description1 {
		width: 80%;
		padding-bottom: 10px;
	}

	h5 {
		font-size: 20px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	/*skills - Como colocar só dois icons lado a lado? A animaçao ja nao funciona bem, é possivel aparecer só quando se faz scroll?*/
	.container2 {
		display: block;
		padding-top: 0;
	}

	.icons {
		margin: 0 auto;
		width: 40%;
		padding-top: 30px;
	}

	.icons:first-child {
		padding-top: 0;
	}

	/*footer*/
	.letter {
		width: 5%;
	}

	.thankyou {
		font-size: 14px;
	}

	.footer1 p {
		font-size: 14px;
	}

	.linkedin {
		width: 5%;
	}

	.behance {
		width: 5%;
	}
}

@media (max-width: 550px) {

	h2 {
		font-size: 32px;
		line-height: 50px;
	}
}

@media (max-width: 450px) {

	h2 {
		font-size: 28px;
		line-height: 50px;
	}

	h3 {
		font-size: 40px;
		padding-top: 100px;
	}

	h4 {
		font-size: 20px;
		line-height: 30px;
	}

	h6 {
		margin-top: 15px;
	}

	/*menu*/
	.menu:first-child {
		padding-left: 10px;
	}

	.iconmenu {
		margin-right: 40px;
		width: 5%;
	}

	/*header*/
	.ilustracao {
		top: 20%;
	}

	.container-intro > h2 {
		width: 80%;
		margin-left: 30px;
	}

	/*about*/
	.mystory {
		width: 85%; 
	}

	/*projects*/
	.container {
		padding-bottom: 25px;
	}

	/*formation*/
	.container1 {
		margin-left: 45px;
	}

	/*skills*/
	.container2 {
		padding-bottom: 25px;
	}

	.icons {
		width: 60%;
	}

	/*footer*/
	.container-letter {
		padding-top: 15%;
	}

	.letter {
		width: 10%;
	}

	.footer1 p {
		display: block;
	}

	.linkedin {
		width: 7%;
	}

	.behance {
		width: 7%;
	}
}



