---

---

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

/*Variáveis*/
$myFont: "Poppins", "Arial", sans-serif;
$primary-color: #33404D;
$secondary-color: #6C22F5;
$neutral-color: white;
$background-color: #F2F2F2;
$font-weight: 600;
$font-weight-2: 500;
$base-font-size: 16px;
$small-font-size: 14px;
$font-size-20: 20px;
$font-size-28: 28px;
$font-size-40: 40px;
$font-size-50: 50px;
$text-style: uppercase;
$spacing: 0.05em;
$center-text: center;
$width-size: 50%;
$width-size-2: 100%;

/*Mixins*/
@mixin containers {
	display: flex;
	width: 80%;
	margin: 0 auto;
    justify-content: space-between;
}

@mixin display-margin {
	display: flex;
    margin: 0 auto;
}

@mixin width-height {
	width: 35%;
	height: auto;
}

@mixin headers-style {
	font-weight: 600;
	text-transform: uppercase;
}

/*Estrutura*/
body {
	font-family: $myFont;
}

h1 {
	font-weight: $font-weight;
	letter-spacing: 0.1em;
	text-transform: $text-style;
	font-size: $base-font-size;
	color: $secondary-color;
}

h2 {
	font-weight: $font-weight;
	font-size: $font-size-50;
	line-height: 75px;
	letter-spacing: 0.03em;
	color: $primary-color;
}

h3 {
	text-align: $center-text;
	font-weight: $font-weight;
	font-size: 48px;
	letter-spacing: $spacing;
	padding-top: 150px;
    padding-bottom: 70px;
	margin: 0;
	text-transform: $text-style;
	color: $primary-color;
}

h4 {
	font-weight: $font-weight;
	font-size: $font-size-28;
	line-height: 42px;
	letter-spacing: $spacing;
	margin: 0;
	color: $primary-color;
}

h5 {
	font-weight: $font-weight;
	font-size: 24px;
	letter-spacing: $spacing;
	text-transform: $text-style;
	margin-top: 0;
	color: $secondary-color;
}

h6 {
	font-size: $base-font-size;
	font-weight: $font-weight-2;
	color: $secondary-color;
}

p {
	font-size: $base-font-size;
	line-height: 30px;
	color: $primary-color;
}

/*Menu*/
a:hover {
    color: $secondary-color;
}

a {
	color: $primary-color;
    text-decoration: none;
    font-size: $base-font-size;
}

li {
	list-style: none;
}

.iconmenu {
	display: none;
}

.menu {
	position: fixed;
	display: flex;
	width: $width-size-2;
	height: auto;
	top: 0px;
	align-items: baseline;
    justify-content: space-between;
    background: $neutral-color;
	z-index: 1;
}

.menu:first-child {
	padding-left: 20px;
}

nav li {
	display: inline-block;
	padding-right: 40px;
}

nav:last-child {
	padding-right: 0;
}

nav {
	margin-right: 20px;
}

.navigation {
	display: none;
}

/*Homepage - Header*/
header {
	width: $width-size-2;
}

.container-intro {
	padding-top: 250px;
	position: relative;
}

.container-intro > h2 {
	width: 40%;
	margin-left: 130px;
}

.seta {
    padding-top: 45px;
	justify-content: center;
	display: flex;
}

.seta img {
	@include width-height;
	@include display-margin;    
}

.ilustracao {
	position: absolute;
	@include width-height;
	right: 10%;
	top: 10%;
	z-index: -1;
}

/*Homepage - About*/
.mystory {
	width: $width-size;
	@include display-margin;
    padding-bottom: 150px; 
}

/*Página Projects*/
.container {
    display: grid;
	grid-template-columns: auto auto;
	column-gap: 50px;
	padding-bottom: 50px;
	padding-left: 30px;
	max-width: 1200px;
	margin: auto;
 }

.subtitle {
	font-weight: $font-weight-2;
	font-size: $small-font-size;
}

/*Formation*/
.container1 {
	@include containers;
    padding-bottom: 110px;
}

.description1 {
	padding-right: 5%;
}

.description1:last-child {
	padding-right: 0;
}

.curso, .curso1 {
	margin: 0;
	font-weight: $font-weight-2;
	color: $secondary-color;
}

/*Skills*/
.container2 {
	@include containers;
	padding-top: 50px;
	padding-bottom: 170px;
	align-items: baseline;
}

@keyframes fade {
    0% {opacity: 1}
    20% { opacity: 0}
    40% { opacity: 0}
    60% { opacity: 0}
    80% { opacity: 0}
    100% { opacity: 1}
}

.graphic-design {
	animation: fade 1s;
}

.editorial-design {
	@extend .graphic-design;
	animation-delay: 1s;
}

.illustration {
	@extend .graphic-design;
	animation-delay: 2s;
}

.ux-design {
	@extend .graphic-design;
	animation-delay: 3s;
}

.visual-design {
	@extend .graphic-design;
	animation-delay: 4s;
}

.icons {
    text-align: $center-text;
	width: 60%;
}

.images1 {
	width: $width-size;
}

.curso {
	font-weight: $font-weight;
}

.texto1 {
	font-size: $small-font-size;
	line-height: 24px;
	color: #AEAEAE;
}

/*Footer*/
.container-letter {
	background: $background-color;
	text-align: $center-text;
	padding-top: 5%;
	padding-bottom: 1%;
}

.thankyou {
	font-weight: $font-weight-2;
	font-size: $base-font-size;
	text-transform: $text-style;
	letter-spacing: $spacing;
	color: $secondary-color;
}

.letter {
	width: 5%;
}

.footer-container {
	background: $background-color;
	display: block;
	width: $width-size-2;
	height: auto;
	padding-top: 15px;
	padding-bottom: 60px;
	text-align: $center-text;
}

.footer1 p {
	display: inline-block;
}

.footer1 p:first-child {
	font-weight: $font-weight;
	text-transform: $text-style;
	letter-spacing: $spacing;
}

.linkedin {
	@extend .behance;
	padding-right: 15px;
}

.behance {
	width: 3%;
}

/*Mediaquerries*/

@media (max-width: 1080px) {
	
	/*header*/
	.container-intro > h2 {
		width: $width-size;
		margin-left: 100px;
	}
}

@media (max-width: 950px) {
	
	/*projects*/
	.container {
		display: block;
		padding-right: 30px;
	}

	.images {
		width: $width-size-2;
	}

	.description {
		width: 80%;
	}
}

@media (max-width: 720px) {
	/*menu*/
	.navigation {

		&.open {
			position: fixed;
			display: block;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: $secondary-color;
		}

		nav {
			display: block;

			li {
				width: 100%;
				padding-bottom: 50px;
				padding-top: 50px;
			}
		}

		.iconcross {
			position: absolute;
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 4%;
			padding-top: 20px;
			padding-right: 20px;
		}
	}
	
	.iconmenu {
		display: flex;
		width: 4%;
		margin-right: 50px;
		padding-top: 20px;
	}

	a {
		color: $neutral-color;
		font-size: $font-size-50;
	}

	a:hover {
		color: $primary-color;
	}

	nav {
		display: none;
	}

	/*header*/
	.container-intro > h2 {
		width: $width-size;
		margin-left: 80px;
	}

	h2 {
		font-size: $font-size-40;
		line-height: 60px;
	}

	/*about*/
	.mystory {
		width: 70%;
		display: flex;
		margin: 0 auto; 
	}

	/*formation*/
	.container1 {
		display: block;
		margin-left: 40px;
	}

	.description1 {
		width: 80%;
		padding-bottom: 10px;
	}

	h5 {
		font-size: $font-size-20;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	/*skills*/
	.container2 {
		display: block;
		padding-top: 0;
	}

	.icons {
		margin: 0 auto;
		width: 40%;
		padding-top: 30px;
	}

	.icons:first-child {
		padding-top: 0;
	}

	/*footer*/
	.letter {
		width: 5%;
	}

	.thankyou {
		font-size: $small-font-size;
	}

	.footer1 p {
		font-size: $small-font-size;
	}

	.linkedin, .behance {
		width: 5%;
	}
}

@media (max-width: 550px) {

	h2 {
		font-size: 32px;
		line-height: 50px;
	}
}

@media (max-width: 450px) {

	h2 {
		font-size: $font-size-28;
		line-height: 50px;
	}

	h3 {
		font-size: $font-size-40;
		padding-top: 100px;
	}

	h4 {
		font-size: $font-size-20;
		line-height: 30px;
	}

	h6 {
		margin-top: 15px;
	}

	/*menu*/
	.menu:first-child {
		padding-left: 10px;
	}

	.iconmenu {
		margin-right: 40px;
		width: 5%;
	}

	/*header*/
	.ilustracao {
		top: 20%;
	}

	.container-intro > h2 {
		width: 80%;
		margin-left: 30px;
	}

	/*about*/
	.mystory {
		width: 85%; 
	}

	/*projects*/
	.container {
		padding-bottom: 25px;
	}

	/*formation*/
	.container1 {
		margin-left: 45px;
	}

	/*skills*/
	.container2 {
		padding-bottom: 25px;
	}

	.icons {
		width: 60%;
	}

	/*footer*/
	.container-letter {
		padding-top: 15%;
	}

	.letter {
		width: 10%;
	}

	.footer1 p {
		display: block;
	}

	.linkedin, .behance {
		width: 7%;
	}
}



