---

---

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap');

$myFont: "Poppins", "Arial", sans-serif;

body {
	font-family: $myFont;
}

h1 {
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	font-size: 16px;
}

h2 {
	font-weight: 500;
	font-size: 50px;
	line-height: 75px;
	letter-spacing: 0.03em;
}

h3 {
	text-align: center;
	font-weight: 500;
	font-size: 48px;
	letter-spacing: 0.05em;
	padding-top: 150px;
    padding-bottom: 70px;
	margin: 0;
	text-transform: uppercase;
}

h4 {
	font-weight: 500;
	font-size: 28px;
	line-height: 42px;
	letter-spacing: 0.05em;
	margin: 0;
}

h5 {
	font-weight: 500;
	font-size: 24px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	margin-top: 0;
}

h6 {
	font-size: 16px;
	font-weight: 400;
}

p {
	font-size: 16px;
	line-height: 30px;
}

/*Menu*/
a:hover {
    color: lightgrey;
  }

a {
	color: black;
    text-decoration: none;
    font-size: 16px;
}

li {
	list-style: none;
}

.iconmenu {
	display: none;
}

.menu {
	position: fixed;
	display: flex;
	width: 100%;
	height: auto;
	top: 0px;
	align-items: baseline;
    justify-content: space-between;
    background: white;
	z-index: 1;
}

.menu:first-child {
	padding-left: 20px;
}

nav li {
	display: inline-block;
	padding-right: 40px;
}

nav:last-child {
	padding-right: 0;
}

nav {
	margin-right: 20px;
}

/*Homepage - Header*/
header {
	width: 100%;
}

.container-intro {
	padding-top: 250px;
	position: relative;
}

.container-intro > h2 {
	width: 40%;
	margin-left: 130px;
}

.seta {
    padding-top: 45px;
	justify-content: center;
	display: flex;
}

.seta img {
	width: 30%;
	height: auto;
	display: flex;
	margin: 0 auto;     
}

.ilustracao {
	position: absolute;
	width: 35%;
	height: auto;
	right: 10%;
	top: 10%;
	z-index: -1;
}

/*Homepage - About (My Story)*/
.mystory {
	width: 50%;
	display: flex;
    margin: 0 auto;
    padding-bottom: 150px; 
}

/*Página Projects*/
.container {
    display: grid;
	grid-template-columns: auto auto;
	column-gap: 50px;
	padding-bottom: 50px;
	max-width: 1200px;
	margin: auto;
 }

.subtitle {
	font-weight: 500;
	font-size: 14px;
}

/*Formation*/
.container1 {
	display: flex;
	width: 80%;
	margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 110px;
}

.description1 {
	padding-right: 5%;
}

.description1:last-child {
	padding-right: 0;
}

.curso, .curso1 {
	margin: 0;
	font-weight: 500;
}

/*Skills*/
.container2 {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: space-between;
	padding-top: 50px;
	padding-bottom: 170px;
	align-items: baseline;
}

@keyframes fade {
    0% {opacity: 1}
    20% { opacity: 0}
    40% { opacity: 0}
    60% { opacity: 0}
    80% { opacity: 0}
    100% { opacity: 1}
}

.graphic-design {
	animation: fade 1s;
}

.editorial-design {
	animation: fade 1s;
	animation-delay: 1s;
}

.illustration {
	animation: fade 1s;
	animation-delay: 2s;
}

.ux-design {
	animation: fade 1s;
	animation-delay: 3s;
}

.visual-design {
	animation: fade 1s;
	animation-delay: 4s;
}

.icons {
    text-align: center;
	width: 60%;
}

.images1 {
	width: 50%;
}

.curso {
	font-weight: 500;
}

.texto1 {
	font-size: 14px;
	line-height: 24px;
	color: #AEAEAE;
}

/*Footer*/
.container-letter {
	background: #F2F2F2;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 1%;
}

.thankyou {
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.letter {
	width: 5%;
}

.footer-container {
	background: #F2F2F2;
	display: block;
	width: 100%;
	height: auto;
	padding-top: 15px;
	padding-bottom: 60px;
	text-align: center;
}

.footer1 p {
	display: inline-block;
}

.footer1 p:first-child {
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

.linkedin {
	width: 3%;
	padding-right: 15px;
}

.behance {
	width: 3%;
}
